<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WebClientWCFRequest.CalculatorService" behaviorConfiguration="CalculatorServiceBehavior" >
        <endpoint address="http://localhost:59664/Service1.svc/http" bindingConfiguration="wsConfigSection"
                  binding="wsHttpBinding" contract="WebClientWCFRequest.ICalculator"></endpoint>
        <!--<endpoint address="" 
                  binding="basicHttpBinding" contract="WebClientWCFRequest.ICalculator"></endpoint>-->
        <endpoint address="http://localhost:59664/Service1.svc/mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint> 
        <!--<endpoint address="https://localhost:59664/Service1.svc/https" binding="wsHttpBinding" bindingConfiguration="wshttpsCon" contract="WebClientWCFRequest.ICalculator" name="httpswsHttpBinding"></endpoint>-->
    </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CalculatorServiceBehavior">
          <!--<serviceAuthenticationManager authenticationSchemes="Basic"/>-->
          <serviceCredentials>
            <serviceCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" findValue="localhost" />
            <userNameAuthentication userNamePasswordValidationMode="Custom"
                                     customUserNamePasswordValidatorType="WebClientWCFRequest.CustomUserNamePassword,WebClientWCFRequest"/>
          </serviceCredentials>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="wsConfigSection">
          <!--<security mode="None"></security>-->
          <security mode="Message">
            <message clientCredentialType="None"/>
          </security>    
        </binding>
        <!--<binding name="wshttpsCon">
          <security mode="Transport">
            <transport clientCredentialType="Basic"></transport>
          </security>
        </binding>-->
      </wsHttpBinding>
    </bindings>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
                    switchValue="Information, ActivityTracing"
                    propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "Traces1.svclog"  />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
