@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script type="text/javascript">
    function callWcf()
    {
        var service = new Service1();
        service.HelloWorld();
    }
</script>
<button onclick="callWcf()">Test</button>
    