<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DefaultBinding_ICalculatorService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint binding="basicHttpBinding" bindingConfiguration="DefaultBinding_ICalculatorService"
                contract="ICalculatorService" name="DefaultBinding_ICalculatorService_ICalculatorService" />
        </client>
    </system.serviceModel>
</configuration>