<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IOneWayCalculator" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/oneway/service" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IOneWayCalculator" contract="IOneWayCalculator"
                name="WSHttpBinding_IOneWayCalculator">
                <identity>
                    <userPrincipalName value="v-tazho@fareast.corp.microsoft.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>