<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
        <roleManager enabled="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WCFRestService.Service1">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="wcfRestBehavior" contract="WCFRestService.IService1"></endpoint>
       
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>        
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>        
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="wcfRestBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <!--custom http module-->
    <!--<modules runAllManagedModulesForAllRequests="true">
      <add name="removesvc" type="WCFRestService.Removesvc,WCFRestService"/>
    </modules>-->
    <!--II7 Rewrite module, need to install URL Rewrite-->
    <!--<modules runAllManagedModulesForAllRequests="true"></modules>-->
    <rewrite>
      <rules>
              <rule name="removesvc" stopProcessing="false">
          <match url="^Service1(.*)$" negate="false" />
          <action type="Rewrite" url="Service1.svc{R:1}" />
        </rule>
              <rule name="removebackslash" stopProcessing="true">
            <match url="^Service1.svc/$" negate="false" />
            <action type="Rewrite" url="Service1.svc" />
        </rule>
      </rules>
    </rewrite>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

</configuration>
